/* BBCode
----------------------------------------------- */
span.azc_bbc_bold{
	font-weight: 900;
}
span.azc_bbc_italic{
	font-style: italic;
}
span.azc_bbc_underline{
	text-decoration: underline;
}
span.azc_bbc_strike{
	text-decoration: line-through;
}
ul.azc_bbc_ul{
}
ol.azc_bbc_ol{
}
li.azc_bbc_li{
}
table.azc_bbc_table{
}
tr.azc_bbc_tr{
}
th.azc_bbc_th{
}
td.azc_bbc_td{
}
a.azc_bbc_url{
}
blockquote.azc_bbc_quote{
}
div.azc_bbc_quote{
}
pre.azc_bbc_code{
}
code.azc_bbc_code{
}
img.azc_bbc_image{
}
img.azc_bbc_center{
}
img.azc_bbc_img{
}